body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  header {
    background-color: #050e3c;
    color: white;
    padding: 6px 0;
    text-align: center;
  }
  footer {
    background-color: #050e3c;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}

.start-page {
  background-color: #9cc6db;
  padding: 20px;
}
.start-projects {
  background-color: #9cc6db;
  padding: 20px;
}
.start-contact {
  background-color: #9cc6db;
  text-decoration: none;
  padding-bottom: 56px;
}

.navbar {
  background-color: #002455;
  overflow: hidden;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        &:hover {
          background-color: #ddd;
          color: black;
        }
      }
    }
  }
}
